
  <div class="publications-list">
    <div *ngFor="let publication of displayedPublications">
      <h2>{{ publication.title }}</h2>
      <p>Date: {{ publication.publisher.lastname }}</p>
      <p>Auteur: {{ publication.publisher.firstname }}</p>
      <p>{{ publication.description }}</p>
      <button *ngIf="publication.status === 'pending'" (click)="updatePublication(publication)">Accepter</button>
      <button *ngIf="publication.status === 'approved'" disabled>Déjà approuvé</button>
      <hr>
    </div>
    
    <button *ngIf="displayedPublications.length < publications.length" (click)="loadMorePublications()">Charger plus de publications</button>
  </div>
