<ul class="category-list">
    <li><a href="#" class="category-link">Communication</a></li>
    <li><a href="#" class="category-link">Cultures</a></li>
    <li><a href="#" class="category-link">Développement personnel</a></li>
    <li><a href="#" class="category-link">Intelligence émotionnelle</a></li>
    <li><a href="#" class="category-link">Loisirs</a></li>
    <li><a href="#" class="category-link">Monde professionnel</a></li>
    <li><a href="#" class="category-link">Parentalité</a></li>
    <li><a href="#" class="category-link">Qualité de vie</a></li>
    <li><a href="#" class="category-link">Recherche de sens</a></li>
    <li><a href="#" class="category-link">Santé Physique</a></li>
    <li><a href="#" class="category-link">Santé psychologique</a></li>
    <li><a href="#" class="category-link">Spiritualité</a></li>
    <li><a href="#" class="category-link">Vie affective</a></li>
</ul>
  