<ul class="category-list">
    <li>
        <span class="category-link" (click)="filterPublicationsByCategory(-1)">Tout</span>
      </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(40)">Communication</span>
    </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(41)">Cultures</span>
    </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(42)">Développement personnel</span>
    </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(43)">Intelligence émotionnelle</span>
    </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(44)">Loisirs</span>
    </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(45)">Monde professionnel</span>
    </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(46)">Parentalité</span>
    </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(47)">Qualité de vie</span>
    </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(48)">Recherche de sens</span>
    </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(49)">Santé Physique</span>
    </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(50)">Santé psychologique</span>
    </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(51)">Spiritualité</span>
    </li>
    <li>
      <span class="category-link" (click)="filterPublicationsByCategory(52)">Vie affective</span>
    </li>
  </ul>
  