<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cube - Profile</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="profile">
            <div class="profile-photo">
                <div class="photo-container">
                    <img [src]="'upload/profil/' + user.photo" alt="Photo de profil">
                    <label for="file-input" class="add-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M434.5-194.5v-240h-240v-91h240v-240h91v240h240v91h-240v240h-91Z"/>
                        </svg>
                    </label>
                    <input id="file-input" type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
                </div>
            </div>

            <h2>Informations du profil</h2>

            <div class="profile-details">
                <div class="profile-field">
                    <label>Email:</label>
                    <span>{{ user.email }}</span>
                </div>

                <div class="profile-field">
                    <label>Prénom:</label>
                    <input type="text" [(ngModel)]="user.firstname" />
                </div>

                <div class="profile-field">
                    <label>Nom:</label>
                    <input type="text" [(ngModel)]="user.lastname" />
                </div>

                <div class="profile-field">
                    <label>Numéro de téléphone portable:</label>
                    <input type="text" [(ngModel)]="user.mobile" />
                </div>

                <div class="profile-field">
                    <label>Numéro de téléphone fixe:</label>
                    <input type="text" [(ngModel)]="user.phone" />
                </div>

                <div class="profile-field">
                    <label>Date d'anniversaire:</label>
                    <input type="text" [(ngModel)]="user.birthday" />
                </div>

                <div class="profile-field">
                    <label>Rôle:</label>
                    <span>{{ user.roles }}</span>
                </div>

                <div class="profile-field">
                    <label>Date de création:</label>
                    <span>{{ user.created | date:'dd/MM/yyyy' }}</span>
                </div>

                <button class="save-button" (click)="saveProfile()">Enregistrer</button>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</body>
</html>
