<header>
    <nav>
        <div class="logo">
            <img src="assets/logo_small.png" alt="Logo">
        </div>
        <ul class="categories">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Publier</a></li>
            <li><a href="#">Page3</a></li>
            <li><a href="#">Page4</a></li>
        </ul>
        <div class="menu" *ngIf="(authService.isLoggedIn | async)">
          <button mat-icon-button [matMenuTriggerFor]="loggedInMenu">
            <img src="assets/avatar.png" alt="Avatar">
          </button>
           <mat-menu #loggedInMenu="matMenu" class="customize" [overlapTrigger]="false">
              <span>Salut à toi Machin<br></span>
              <button mat-menu-item (click)="logout()">Déconnexion</button>
            </mat-menu>
        </div>  
        <div class="menu" *ngIf="!(authService.isLoggedIn | async)">
          <button mat-icon-button [matMenuTriggerFor]="guestMenu">
            <img src="assets/avatar.png" alt="Avatar">
          </button>
          <mat-menu #guestMenu="matMenu" class="customize" [overlapTrigger]="false">
             <span>Salut à toi Invité<br></span>
             <button mat-menu-item (click)="redirection('login')">Connexion</button>
             <button mat-menu-item (click)="redirection('register')">Inscription</button>
          </mat-menu>
        </div>  
    </nav>
</header>