<nav>
    <div class="logo">
      <img src="assets/logo_small.png" alt="Logo">
    </div>
    <ul class="categories">
      <li><a href="#">Catégorie 1</a></li>
      <li><a href="#">Catégorie 2</a></li>
      <li><a href="#">Catégorie 3</a></li>
      <li><a href="#">Catégorie 4</a></li>
    </ul>
    <div class="login">
      <a href="#"><i class="fas fa-user"></i></a>
    </div>
  </nav>

  <section class="slide">
    <div class="slide-text">
        <p>La plateforme pour améliorer vos relations</p>
        <h1>Ressource Relationnel</h1>
        <p>Publiez et partagez vos ressources afin de <br> vous créer des relations</p>
        <div class="slide-buttons">
            <a href="#" class="button">Connexion</a>
            <a href="#" class="button">S'enregistrer</a>
        </div>
    </div>
    <div class="slide-image"></div>
  </section>