<div>
    <h2>Activer un compte</h2>
    <form (ngSubmit)="activateAccount()">
        <label for="userIdActivated">ID de l'utilisateur :</label>
        <input type="number" id="userIdActivated" name="userIdActivated" [(ngModel)]="userIdActivated" required>
        <button type="submit">Désactiver</button>
    </form>

    <h2>Désactiver un compte</h2>
    <form (ngSubmit)="deactivateAccount()">
        <label for="userIdDesactivated">ID de l'utilisateur :</label>
        <input type="number" id="userIdDesactivated" name="userIdDesactivated" [(ngModel)]="userIdDesactivated" required>
        <button type="submit">Désactiver</button>
    </form>

    <h2>Changer le rôle d'un utilisateur</h2>
    <form (ngSubmit)="changeRole()">
        <label for="userIdRole">ID de l'utilisateur :</label>
        <input type="number" id="userIdRole" name="userIdRole" [(ngModel)]="userIdRole" required>

        <label for="userRole">Rôle :</label>
        <select id="userRole" name="userRole" [(ngModel)]="selectedRole">
            <option value="ROLE_USER">Utilisateur</option>
            <option value="ROLE_MOD">Modérateur</option>
            <option value="ROLE_ADMIN">Administrateur</option>
            <option value="ROLE_SADMIN">Super Administrateur</option>
        </select>

        <button type="submit">Changer le rôle</button>
    </form>
</div>
  