<div class="menu">
    <div class="logo-container">
      <img src="assets/logo_small.png" alt="Logo">
    </div>
  
    <!-- Catégorie Modération -->
    <div class="category">
      <h3 (click)="toggleSubcategories('moderation')" class="category-heading">Modération</h3>
      <ul [ngClass]="{ 'show': showSubcategories['moderation'] }">
        <li><a class="subcategory" href="/mod">Publications</a></li>
        <li><a class="subcategory" href="">Sous-catégorie 2</a></li>
        <li><a class="subcategory" href="">Sous-catégorie 3</a></li>
        <li><a class="subcategory" href="">Sous-catégorie 4</a></li>
        <li><a class="subcategory" href="">Sous-catégorie 5</a></li>
      </ul>
    </div>
  
    <!-- Catégorie Administration -->
    <div class="category">
      <h3 (click)="toggleSubcategories('administration')" class="category-heading">Administration</h3>
      <ul [ngClass]="{ 'show': showSubcategories['administration'] }">
        <li class="subcategory">Sous-catégorie 1</li>
        <li class="subcategory">Sous-catégorie 2</li>
        <li class="subcategory">Sous-catégorie 3</li>
        <li class="subcategory">Sous-catégorie 4</li>
        <li class="subcategory">Sous-catégorie 5</li>
      </ul>
    </div>

    <a href="">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" class="home-icon">
        <path d="M240-200h133.847v-237.692h212.306V-200H720v-360L480-740.769 240-560v360Zm-59.999 59.999v-449.998L480-815.767l299.999 225.768v449.998H526.154v-237.693h-92.308v237.693H180.001ZM480-470.385Z"/>
      </svg>
    </a>
        

  </div>
  