<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>Cube - Accueil</title>
</head>
<body>

<app-navbar></app-navbar>
    
    <section class="slide">
        <div class="slide-text">
            <p>La plateforme pour améliorer vos relations</p>
            <h1>Ressource Relationnel</h1>
            <p>Publiez et partagez vos ressources afin de <br> vous créer des relations</p>
            <div class="slide-buttons">
                <button *ngIf="isAuthenticated" class="button" (click)="logout()">Déconnexion</button>
                <a *ngIf="!isAuthenticated" href="/login" class="button">Connexion</a>
                <a *ngIf="!isAuthenticated" href="/register" class="button">S'enregistrer</a>
            </div>
        </div>
        <div class="slide-image"></div>
    </section>
    <div class="spacer"></div>

    <div class="container">
        <aside>
            <form>
                <input type="text" placeholder="Rechercher...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        <div class="cat-menu">
            <app-categories></app-categories>
        </div>
        </aside>
        <article>
            <div class="publi-menu">
                <app-publications></app-publications>
            </div>
        </article>
    </div>

<app-footer></app-footer>
        
</body>
</html>