<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>Cube - Index</title>
</head>

<app-navbar></app-navbar>

<body>
    
    <section class="slide">
        <div class="slide-text">
            <p>La plateforme pour améliorer vos relations</p>
            <h1>Ressource Relationnel</h1>
            <p>Publiez et partagez vos ressources afin de <br> vous créer des relations</p>
            <div class="slide-buttons">
                <a href="#" class="button">Connexion</a>
                <a href="#" class="button">S'enregistrer</a>
            </div>
        </div>
        <div class="slide-image"></div>
    </section>
    <div class="spacer"></div>

    <div class="container">
        <aside>
            <form>
                <input type="text" placeholder="Rechercher...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        <div class="cat-menu">
            <h2>Catégories</h2>
            <ul>
                <li>Catégorie 1</li>
                <li>Catégorie 2</li>
                <li>Catégorie 3</li>
            </ul>
        </div>
        </aside>
        <article>
            <div class="publi-menu">
                <p>Contenu de la première publication...</p>
                <p>Contenu de la deuxième publication...</p>
                <p>Contenu de la troisième publication...</p>
            </div>
        </article>
    </div>

<app-footer></app-footer>
        
</body>
</html>